<p class="mb-5">Found <%= pluralize(@dogs.count, 'Dog') %> name when searching for: <%= params[:keywords] %></p>

<ul>
  <% @dogs.each do |dog| %>
    <li>Dog name:<%= link_to dog.name, dog %>, Breed name:<%= dog.breed.name %></li>
  <% end %>
</ul>