<p class="mb-5">Found <%= pluralize(@dogs.count, 'Breed') %> when searching for: <%= params[:keywords] %></p>

<ul>
  <% @dogs.each do |dog| %>
    <li><%= link_to dog.breed.name, dog %></li>
  <% end %>
</ul>