<h1><%= @dog.breed.name %></h1>

<h2>Images of <%= @dog.breed.name %> Dogs</h2>
<ul>
    <% @dog.breed.dogs.each do |dog| %>
    <ul>
        <%= link_to @dog.breed.name, dog.breed %>
    </ul>
    <ul>
        <%= link_to image_tag(dog.image_url, alt: "Image of #{dog.breed.name}"), dog %>
    </ul> 
    <% end %>
</ul>