<h1><%= @breed.name %></h1>
<p>This breed has <%= @breed.dogs.count %> dogs.</p>

<h2>Images of dogs</h2>
<ul>
    <% @breed.dogs.each do |dog| %>
    <ul>
      <%= link_to dog do %>
        <%= dog.name %>
      <% end %>
    </ul>
    <% end %>
</ul>